<div layout="row" flex md-padding="">
    <div flex="60" layout="column">
        <table id="scoreboard" align="center">
            <tr>
                <td> Player 1</td>
                <td width="30"> &nbsp; </td>
                <td> Player 2</td>
            </tr>
            <tr>
                <td class="score" id="player1">
                    {{game.scores.X}}
                </td>
                <td> &nbsp; </td>
                <td class="score" id="player2">
                    {{game.scores.O}}
                </td>
            </tr>
        </table>

        <table align="center" id="tic-tac-toe">
            <tr ng-repeat="(row_index, row) in game.dummyArray track by $index">
                <td ng-repeat="(column_index, column) in game.dummyArray track by $index"
                    ng-click="game.mark(row_index, column_index)"
                    class="{{game.data[row_index+''+column_index]}}">
                    {{game.data[row_index+''+column_index]}}
                </td>
            </tr>
        </table>
        <!--<p>Turn: <b>{{game.current_mark}}</b></p>-->
    </div>
    <div layout="column">
        <md-button ng-click="connectHandler()" ng-disabled="isConnected">Connect</md-button>
        <md-button ng-click="closeHandler()" ng-disabled="!isConnected">Disconnect</md-button>
        <md-button ng-click="game.init()">Reset</md-button>

        <!--<select ng-model="game.grid_size"-->
                <!--ng-options="option.value as option.label for option in grid_options"-->
                <!--ng-change="game.init()">-->
        <!--</select>-->
        <md-select ng-model="game.grid_size" ng-change="game.init()">
                <md-option ng-value="option.value" ng-repeat="option in grid_options">{{option.label}}</md-option>
        </md-select>
    </div>
</div>