<div layout="row" flex md-padding="">
    <!--<h2>Player {{turn}}'s Turn</h2>-->

    <div flex="" layout="column">
            <table id="scoreboard" align="center">
            <tr>
                <td> Player X</td>
                <td width="40"> &nbsp; </td>
                <td> Draw</td>
                <td width="40"> &nbsp; </td>
                <td> Player O</td>
            </tr>
            <tr>
                <td class="score" id="player1">
                    {{scores.X}}
                </td>
                <td> &nbsp; </td>
                <td class="score" id="draw">
                    {{scores.draw}}
                </td>
                <td> &nbsp; </td>
                <td class="score" id="player2">
                    {{scores.O}}
                </td>
            </tr>
        </table>

        <table align="center" id="tic-tac-toe">
            <tr ng-repeat="(row_index, row) in dummyArray track by $index">
                <td ng-repeat="(column_index, column) in dummyArray track by $index"
                    ng-click="mark(row_index, column_index, turn)"
                    class="{{data[row_index*grid_size+column_index]}}">
                    {{data[row_index*grid_size+column_index]}}
                </td>
            </tr>
        </table>
    </div>
    <div ng-include='"sidenav.html"'></div>
</div>